body{
  font-size: 1.4rem;
  font-family: 'Cabin', sans-serif;
  background-color: #4EC274;
}

html {
  font-size: 62.5%;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  
 
}

fieldset {
  border: 2px solid white;
  border-radius: 2rem;
  padding: 2.5rem;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}

input,
textarea {
  width: 90%;
  margin: 5px 0 0;
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: white;
}

button {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 2%;


}

nav{
  margin: 0 auto;
  }
  
a{
  margin: 2rem;
  font-size: 1.75rem;
  text-decoration: none;
  background-color: #4EC274;
  color: white;
  text-decoration: none;
  padding: .7rem;
  border-radius: 25px;

}

h2{
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

  .Header{
width: 100%;
text-align: right;
  
  }



i{
  margin: 1%;
}
  
  .labels {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
  }

  .error {
    color: red;
  }

  .bottom-form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
 

  